PACKMAN_SPACE=play-ground
PACKMAN_PRIVATE_KEY=~/.ssh/id_rsa
PACKAGE_NAME="sphinx"
PACKAGE_VERSION="2.2.10"
PACKAGE_BRANCH="${PACKAGE_NAME}-${PACKAGE_VERSION}"
# comma separated in the form of $DIST:$VERSION
SUPPORTED_ENVS="centos:7"
# URL to download the package source from
SOURCE_URL="http://sphinxsearch.com/files/sphinx-2.2.10-release.tar.gz"
# Project URL
PROJECT_URL="http://sphinxsearch.com"
PACKAGE_DESCRIPTION="/home/packman/tmp/build/$PACKMAN_SPACE/${PACKAGE_NAME}/DESCRIPTION"
MAINTAINER_NAME="Jess Portnoy"
MAINTAINER_EMAIL="jess@packman.io"
# optional for deb. If not supplied, use container's dist name
#DIST_NAME="@@DIST_NAME@@"


